:root {
    --white: #ffffff;
    --dark: #212121;
    --primary: #FFC107;
    --secundary: #0097a7;
    --grease: #757575;
    --blue-console: #48CAE4;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Press Start 2P', Verdana;
    background-color: var(--dark);
    color: var(--blue-console)
}

h1 {
    font-size: 2.5rem;

}

h2 {
    font-size: 2.4rem;

}

h3 {
    color: #ffffff;
    font-size: 1.8rem;

}

h1, h2, h3 {
    text-align: center;
}

.webDevelopment {
    color: #ffffff;
}

.title{
    padding: 2rem;
}

.container{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.nav-bg{
    background-color: var(--blue-console);
}

.primaryNavigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 768px) {
    .primaryNavigation{
        flex-direction: row;
        justify-content: space-around;
    }
}

.primaryNavigation a {
    padding: 1rem;
    color: var(--dark);
    text-decoration: none;
}

.primaryNavigation a:hover {
    background-color: var(--dark);
    color: var(--blue-console);
}

.sombra {
    box-shadow: 0px 0px 28px 1px rgba(72,202,228,1);
}

/* Content hero */
.hero {
	/*background-image: url(link);*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	position: relative;
}

.content-hero {
	position: absolute;
    /* image here */
	width: 100%;
	height: 85%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    display: flex;
    align-items: center;
}


.boton {
    background-color: var(--blue-console);
    padding: 0.8rem;
    margin-top: 35px;
    text-decoration: none;
    color: var(--dark);
    width: 50%;
    text-align: center;
}

@media (min-width: 768px) {
	.boton {
		width: auto;
	}
}
/* Content hero */

a:visited {
    text-decoration: none;
    color: var(--dark);
}

a:hover{
    background-color: var(--dark);
    color: var(--blue-console);
}


/** Services **/
.myServices{
    padding: 0.1rem;
    background-color: var(--blue-console);
    color: var(--dark)
}

.services {
    padding: 2rem;
    column-gap: 1rem;
}

@media (min-width: 768px) {
    .services{
        padding: 3rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px;
        column-gap: 1rem;
    }
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.servicio p {
    line-height: 2;
}

.service .servicesIcon{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/** Services **/

/* Contact */
.formulary {
    width: min(60rem, 100%); /* Elige el valor más pequeño. Nos ahorramos media queries, si la pantalla mide 30rem elegiria la opción 100% ya que 100%=30rem y es más pequeño que 60rem */
    margin: 0 auto;
    padding: 2rem;
}

.formulary legend {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

/** Contact **/
